div {
    border:"2";
    text-align:center;  /* выравниваем текст всех блоков по центру */
    }
body {
    background:#D9FBE7;
    }   
    
.imgbloc{
    border:2px solid rgb(81, 116, 161); /* задаём рамку для блоков */
    width:20%;  /* задаём ширину*/
    float:left;  /* задаём оптекание блоков с левой стороны*/
    height:200px; /* высоту задаю для примера*/
    }

.iconebloc{
    border:2px solid rgb(81, 116, 161); /* задаём рамку для блоков */
    width:12%;  /* задаём ширину*/
    float:left;  /* задаём оптекание блоков с левой стороны*/
    height:150px; /* высоту задаю для примера*/
    }

.header{
    border:2px solid  rgb(81, 116, 161);
    width:79.3%; /* задаём ширину*/
    float:left; /* задаём оптекание длоков с левой стороны*/
    height:200px;  /* высоту задаю для примера*/
    }

.header100{
    border:2px solid rgb(81, 116, 161);
    width:100%; /* задаём ширину*/
    float:left; /* задаём оптекание длоков с левой стороны*/
    height:200px;  /* высоту задаю для примера*/
    }

.menu{
    clear:both;  /* убираем высоту для этого блока */
    }
.main{
    border:3px solid rgb(81, 116, 161);
    width:99.5%; /* задаём ширину главного блока немного больше, так как ширина границ тоже включается при рассчёте ширины*/
    margin:auto;  /* выравниваем главный блок по центру страницы*/
    }

.mainNEW{
    border:2px solid rgb(81, 116, 161);
    width:60%; /* задаём ширину главного блока немного больше, так как ширина границ тоже включается при рассчёте ширины*/
    margin:auto;  /* выравниваем главный блок по центру страницы*/
    }

.left {
    border:2px solid rgb(81, 116, 161);
    width:20%;  /* задаём ширину*/
    float:left;  /* задаём оптекание длоков с левой стороны*/
    height:845px; /* высоту задаю для примера*/
    }
    .right{
        border:2px solid  rgb(81, 116, 161);
        width:20%;  /* задаём ширину*/
        float:left;  /* задаём оптекание длоков с левой стороны*/
        height:845px; /* высоту задаю для примера*/
        }

.leftbloc{
    width:450px;  /* задаём ширину*/
    float:left;  /* задаём оптекание длоков с левой стороны*/
    height:100px; /* высоту задаю для примера*/
    }

.topbloc{
    width:100%;  /* задаём ширину*/
    float:left;  /* задаём оптекание длоков с левой стороны*/
    height:70px; /* высоту задаю для примера*/
    }    

.content{
    border:2px solid  rgb(81, 116, 161); /* задаём рамку для блоков */
    width:59%;
    float:left;
    height:845px;  /* высоту задаю для примера*/
    }
    .content1{
        width:59%;
        float:left;
        height:450px;  /* высоту задаю для примера*/
        }
        .ModalWindow{
            border:2px solid rgb(81, 116, 161); /* задаём рамку для блоков */
            width:100%;
            float:left;
            height:200px;  /* высоту задаю для примера*/
            }
.contentNEW{
    width:59.35%;
    float:left;
    height:500px;  /* высоту задаю для примера*/
    }

.main_content{
    width:100%;
    float:left;
    height:100%;  /* высоту задаю для примера*/
    }
        
footer{
    border:2px solid rgb(81, 116, 161);
    clear:both;  /* убираем высоту для этого блока */
    width:100%;
    }
.blocslider{
    padding:30px;
    }







    
